{% trans_default_domain 'templatesTranslations' %}

<div class="panel panel-primary home-panel">
	<div class="panel-heading menu-toggle">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-left-top-content">
	        <h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp&nbsp{{ 'home.login.title'|trans }}</h3>
	    </button>
	    <h3 class="panel-title hidden-xs"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp&nbsp{{ 'home.login.title'|trans }}</h3>
	</div>
	<div id="home-left-top-content" class="panel-body navbar-collapse collapse">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			{% include 'FrontendFrontOfficeBundle:Home:home_profile.html.twig' %}
		{% else %}
			{{ render(controller('FOSUserBundle:Security:login', {'invalid_username' : invalid_username})) }}
		{% endif %}
	</div>
</div>

{% if invalid_username is not null %}
    <script type="text/javascript">
        $("#reset-popup").modal('show');
    </script>
{% endif %}