{% trans_default_domain 'templatesTranslations' %}

<div class="panel panel-primary home-panel">
	<div class="panel-heading menu-toggle">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-right-bottom-content">
	        <h3 class="panel-title"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>&nbsp&nbsp{{ 'home.best_sellers.title'|trans }}</h3>
	    </button>
	    <h3 class="panel-title hidden-xs hidden-sm"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>&nbsp&nbsp{{ 'home.best_sellers.title'|trans }}</h3>
	</div>
	<div id="home-right-bottom-content" class="panel-body navbar-collapse collapse"> <!--  -->
			Best sellers content
	</div>
</div>