{% trans_default_domain 'templatesTranslations' %}

<div id="home-top-right-panel" class="panel panel-primary home-panel">
	<div class="panel-heading menu-toggle">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-right-top-content">
	        <h3 class="panel-title"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp&nbsp{{ 'home.last_adds.title'|trans }}</h3>
	    </button>
	    <h3 class="panel-title hidden-xs"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp&nbsp{{ 'home.last_adds.title'|trans }}</h3>
	</div>
	<div id="home-right-top-content" class="panel-body no-padding navbar-collapse collapse">
		<div id="home-last-adds-error" class="alert alert-danger align-center hidden"> {{ 'home.last_adds.error'|trans }} </div>
		<div id="home-last-adds-list" class="align-center"></div>
	</div>
</div>