{% trans_default_domain 'templatesTranslations' %}

<div class="panel panel-primary home-panel-center">
	<div class="panel-body">
		<div id="home_content">
			<div class="row">
				<div id="page-home-logo">
					<img class="img-responsive margin-auto hidden-xs hidden-sm" id="home-img" src="bundles/frontendfrontoffice/img/title.png" />
					<img class="img-responsive margin-auto visible-xs visible-sm" id="home-img" src="bundles/frontendfrontoffice/img/title_reverse.png" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 center-align">
							<img class="img-responsive margin-auto" id="home-img" src="bundles/frontendfrontoffice/img/user.png" />
						</div>
						<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-md-offset-3 col-lg-offset-3 center-align">
							<img class="img-responsive margin-auto" id="home-img" src="bundles/frontendfrontoffice/img/bucket.png" />
						</div>
						<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-md-offset-3 col-lg-offset-3 center-align">
							<img class="img-responsive margin-auto" id="home-img" src="bundles/frontendfrontoffice/img/game.png" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<form class="" id="home-search-form">
					<div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
						<div class="input-group input-group-lg width-parent">
							<input id="input-search-game" type="text" class="" placeholder="Chercher un jeu..." aria-describedby="sizing-addon1">
							<span class="input-search-game" id="sizing-addon1">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>