<div id="home-news" class="row">
	<div id="home-news-img-div">
		<img src="public/img/avatar_default.png" alt="news picture" class="img-responsive" />
	</div>
	<div id="home-news-title-div" data-toggle="tooltip" title="{{ news.title }}">
	    {{ news.title }}
	</div>
	<div id="home-news-content-div">
		<p>
                    {{ news.content|raw }}
		</p>
	</div>
</div>