{% trans_default_domain 'templatesTranslations' %}

<div>
    <center>
        <h5>{{ user.username }}</h5>
        <br />
        <a class="btn btn-default" href="{{ path('frontend_frontoffice_profile_home') }}">{{ 'home.profile.button.show'|trans }}</a>
    </center>
</div>
