{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <img src="public/img/error/error.png" class="img-responsive" alt="ERREUR !"/>
        <p>Une erreur est survenue...</p>
    </div>
{% endblock %}