{% extends 'FrontendFrontOfficeBundle::baseFrontend.html.twig' %}

{% trans_default_domain 'templatesTranslations' %}

{% block body %}

<div class="col-xs-12 col-sm-12 col-md-12 block-content">

        <fieldset>
                <legend>{{ 'reset_password.title'|trans }}</legend>
        </fieldset>

        {% block fos_user_content %}
        <p>{{ 'reset_password.password_already_requested'|trans }}</p>
        {% endblock %}    

   <a href={{ path('frontend_frontoffice_homepage') }} class="btn btn-default"> {{ 'common.go_back'|trans }} </a>
</div>

{% endblock %}

