{% extends 'FrontendFrontOfficeBundle::baseFrontend.html.twig' %}

{% trans_default_domain 'templatesTranslations' %}

{% block body %}

<div class="col-xs-12 col-sm-12 col-md-12 block-content">
        {% block fos_user_content %}
            {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
        {% endblock fos_user_content %}     
</div>

{% endblock %}


