
{% trans_default_domain 'templatesTranslations' %}

<div class="row">
    {% block fos_user_content %}
        {{ include ("FOSUserBundle:Resetting:request_content.html.twig") }}
    {% endblock fos_user_content %}   
</div>


