{% extends 'FrontendFrontOfficeBundle::baseFrontend.html.twig' %}
{% trans_default_domain 'templatesTranslations' %}

{% block body %}

    <div id="home" class="row page">
        <div class="col-md-6 col-offset-md-3 col-lg-8 col-lg-offset-2">
            <div id="home-center" class="row home-block home-center-div">
                <div class="panel panel-primary home-panel-center">
                	<div class="panel-body">
                		<div id="home_content">
                			<div class="row">
                			        <fieldset>
                                            <legend class="align-center"><h3>{{ 'reset_password.title'|trans|upper }}</h3></legend>
                                            {% block fos_user_content %}
                                                {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
                                            {% endblock fos_user_content %}  
                                    </fieldset>
                			</div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
