{% extends 'FrontendFrontOfficeBundle::baseFrontend.html.twig' %}

{% trans_default_domain 'templatesTranslations' %}

{% block title %} {{ 'reset_password.page_title'|trans }} {% endblock %}
{% block body %}

<div class="col-xs-12 col-sm-12 col-md-12">

        {% block fos_user_content %}
            {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
        {% endblock fos_user_content %}     

</div>

{% endblock %}
