{% trans_default_domain 'templatesTranslations' %}

<div id="search-content" class="panel panel-primary home-panel-center">
	<div class="panel-body">
		<div id="home_content">
			Test
		</div>
	</div>
</div>