{% extends 'FrontendFrontOfficeBundle::baseMenu.html.twig' %}
{% trans_default_domain 'templatesTranslations' %}

{% block meta %}
    <meta name="description" content="Rompy's Project : recherche de jeux selon différents critères (nom, éditeur, plateforme, genre, ...)" />
    <meta property="og:description" content="Rompy's Project : recherche de jeux selon différents critères (nom, éditeur, plateforme, genre, ...)" />
    
    <title>Rompys Project : recherche</title>
    <meta property="og:title" content="Rompys Project : recherche" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="catalog" class="page">
        <div class="row">
            {% include 'FrontendFrontOfficeBundle:Catalog:game_infos.html.twig' with {'infos': game} %}
        </div>
        <div class="row">
            {% include 'FrontendFrontOfficeBundle:Catalog:game_sellers.html.twig' with {'games': games_catalog} %}
        </div>
    </div>

{% endblock %}