{% extends 'FrontendFrontOfficeBundle::baseMenu.html.twig' %}
{% trans_default_domain 'templatesTranslations' %}

{% block body %}
    <div id="catalog" class="row page">
        <div class="col-sm-4 col-md-3">
            {% include 'FrontendFrontOfficeBundle:Catalog:menu.html.twig' %}
        </div>
        <div class="col-sm-8 col-md-9">
            {% include 'FrontendFrontOfficeBundle:Catalog:catalog.html.twig' %}
        </div>
    </div>
    
{% endblock %}

