<div class="row">
	<div class="modal fade" id="login-popup">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="card-name">Connexion</h4>
				</div>
				<div class="modal-body">
					{{ render(controller('FOSUserBundle:Security:login', {})) }}
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>

<script>
	$('#login-popup').on('hidden.bs.modal', function (e) {});
</script>