{% trans_default_domain 'templatesTranslations' %}

<div class="modal fade" id="reset-popup">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="card-name">{{ 'home.reset.title'|trans }}</h4>
			</div>
			<div class="modal-body">
				{{ render(controller('FOSUserBundle:Resetting:request', {'invalid_username' : invalid_username})) }}
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->