{% trans_default_domain 'templatesTranslations' %}

<div id="legals_content" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <fieldset>
            <legend><h1>{{ 'legals.title'|trans }}</h1></legend>
            <div class="">
            </div>
        </fieldset>
    </div>
</div>