<div id="footer">
    <span>
        <i class="fa fa-copyright"></i>
        Copyright 2016 - Quentin Gaillard -- Tous droits réservés
    </span>
    <div class="pull-right"> 
        <a data-toggle="modal" data-target="#legalsModal">Mentions légales</a> - <a data-toggle="modal" data-target="#contactModal">Contact</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="legalsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mentions légales</h4>
      </div>
      <div class="modal-body">
        <center>PARTIE EN CONSTRUCTION</center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nous contacter</h4>
      </div>
      <div class="modal-body align-center">
        Vous avez une question ? une remarque ?<br />
        Faites le nous savoir : <b>rompys-project[a]outlook.com</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>