{% extends 'FrontendFrontOfficeBundle::baseMenu.html.twig' %}
{% trans_default_domain 'templatesTranslations' %}

{% block meta %}
    <meta name="description" content="Rompy's Project : mon profil" />
    <meta property="og:description" content="Rompy's Project : mon profil" />
    
    <title>Rompys Project : édition d'un jeu</title>
    <meta property="og:title" content="Rompys Project : édition d'un jeu" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/public/js/page/profile.js"></script>
{% endblock %}

{% block body %}
<div id="profile" class="row page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
            <div id="home-center" class="row home-block home-center-div">
                <div class="panel panel-primary home-panel-center">
                	<div class="panel-body">
                		<div id="home_content">
                			<div class="row">
                			        <fieldset>
                                        <legend class="align-center"><h3>{{ 'profile.edit_game.title'|trans|upper }}</h3></legend>
                                            {% include "FrontendFrontOfficeBundle:Profile:edit_game_content.html.twig" with {'data': data, 'game':game} %}
                                    </fieldset>
                			</div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
