{% extends 'FrontendFrontOfficeBundle::baseFrontend.html.twig' %}

{% trans_default_domain 'templatesTranslations' %}

{% block menu-content %}
    {% include 'FrontendFrontOfficeBundle:Menu:menu_full.html.twig' %}
{% endblock %}

{% block body %}

<div id="page-register" class="row">
    
        {% block fos_user_content %}
            {% include "FrontendFrontOfficeBundle:Profile:edit_content.html.twig" %}
        {% endblock fos_user_content %} 
    </div>
</div>

{% endblock %}
