{% extends 'FrontendFrontOfficeBundle::baseFrontend.html.twig' %}
{% trans_default_domain 'templatesTranslations' %}

{% block menu-content %}
    {% include 'FrontendFrontOfficeBundle:Menu:menu_profile.html.twig' %}
{% endblock %}

{% block body %}
    <div id="page-info" class="row">
        {% include 'FrontendFrontOfficeBundle:Profile:info.html.twig' with {'user': user} %}
    </div>
    <div id="page-catalog" class="row">
        {{ render(controller('FrontendFrontOfficeBundle:Profile:catalog', {})) }}
    </div>
    <script>
        $(document).ready(function() {
        	$.localScroll();	
        });
    </script>
{% endblock %}