parameters:    
    mailer_transport: smtp
    mailer_host: smtp.test.com
    mailer_port: 587
    mailer_user: mail@test.fr 
    mailer_password: password
    locale: fr
    driver: pdo_mysql
    host: 0.0.0.0
    port: 3306
    dbname: dbname
    user: user
    password: password
    charset: UTF8
    super_admin_email: mail@test.fr
    secret: keySecret
    current_revision: 0
    contact_mail: mail@test.fr