table a,
table a:focus, 
table a:hover {
    color: #333;
    text-decoration: none;
}

.side-nav,
.side-nav > li > a {
    width: 160px;
}

#wrapper {
    padding-left: 160px;
}

#table-all-games thead th {
    text-align: center
}

#table-all-games .popover-content img { max-width: 100px; }

#table-all-games .popover-content { text-align: center; }