/** 
	HTML 
**/
body {
	background-color: white;
	margin: 4vh;
	padding-top: 0;
}

legend {
	background-color: #2196f3;
    border-color: #2196f3;
}

legend h3,
legend small { 
	color: #ffffff !important; 
}

ul { padding-left: 10px; }

/** 
	CLASS 
**/
.home { min-height: 92vh; }

.home-block.navbar-collapse { padding: 0; }

.home-block.navbar-collapse.in,
.home-block.navbar-collapse.collapsing{ overflow-y: unset;}

.home-panel { margin-bottom: 0px; }

.home-panel-center {
	margin-bottom: 0px;
	min-height: 92vh;
	background-color: #ffffff;
	color: #2196f3;
}

.home-last-adds-photo,
.home-best-sellers-photo {
	width: 20px;
	vertical-align: middle !important;
}

.home-last-adds-name,
.home-best-sellers-name {
    width: calc(100% - 126px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.home-best-sellers-name {
	padding-left: 10px !important;
}

.home-last-adds-name a,
.home-last-adds-name a:hover,
.home-last-adds-name a:focus,
.home-best-sellers-name a,
.home-best-sellers-name a:hover,
.home-best-sellers-name a:focus{
	text-decoration: none;
	outline: none;
	color: unset;
}

.home-last-adds-plateform,
.home-best-sellers-games {
    width: 110px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.home-last-adds-photo .popover-content,
#table-sellers-games .popover-content { 
    text-align: center; 
}

.home-last-adds-photo .popover-content img,
#table-sellers-games .popover-content img { 
    max-width: 100px; 
}

.page {
	margin-top: 65px !important;
    min-height: 85vh;
}

.search-price-input {
    width: calc(50% - 46px);
    text-align: center;
}

.search-game-block {
	border-radius: 5px;
	border: medium none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 10px !important;
    margin: 5px;
}

.search-game-block a,
.search-game-block a:hover,
.search-game-block a:focus {
	text-decoration: none;
	color: #2196f3;
	outline: none;
}

.search-game-name {
	font-size: 16px;
	font-weight: bolder;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.search-game-img { width: 100%; }

.search-game-plateform { font-size: 12px; }

.search-game-type {
	font-size: 12px;
	color: #888888;
}

.search-game-editor {
	font-size: 10px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #bbbbbb;
}

.search-game-year {
	font-size: 10px;
    color: #aaaaaa;
}

.search-game-sellers {
	font-weight: bold;
	font-size: 10px;
	color: #999999;
}

.game-infos-img { padding: 20px !important; }

.game-infos-div { padding: 20px !important; }

.game-infos-div h6 { color: #2196f3; }

/** ID **/
#home-left-top { margin-bottom: 2vh; }

#home-profile-avatar { max-width: 70px; }

#home-profile-infos {
	font-size: 17px;
	font-weight: bold;
	padding-left: 10px;
	max-width: calc(100% - 70px);
	line-height: 1;
}

#page-home-logo {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

#home-search-form { margin-top: 10vh; }

#search-game-addon .glyphicon { font-size: 20px; }

#input-search-game {
	width: calc(100% - 25px);
	font-size: 20px;
}

#home-right-top { margin-bottom: 2vh; }

#home-last-adds-error,
#home-best-sellers-error {
	margin: 10px;
}

#home-last-adds-list li,
#home-best-sellers-list li {
	line-height: 2;
	clear: both;
}

#home-news { margin-bottom: 20px; }

#home-news-img-div {
	max-width: 50px;
	float:left;
}

#home-news-title-div {
	font-size: 19px;
	padding-left: 10px;
	max-width: calc(100% - 50px);
	float:left;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#home-news-content-div {
	margin-top: 10px;
	font-size: 10px;
	max-width: 100%;
	text-align: justify;
	line-height: 1;
	border-bottom: 1px solid #aaaaaa;
	clear: both;
}

#home-best-sellers-list td { padding: 2px; }

#search-content {
	margin-bottom: 0px;
	min-height: 87vh;
	background-color: #ffffff;
	color: #2196f3;
}

#table-sellers .username,
#table-last-adds .username
{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#table-sellers .popover-content,
#table-sellers .popover-title {
	text-align: center;
}

#table-sellers .popover-content img { max-width: 100px; }

#seller-infos .infos-label {
	color: #2196f3;
	/*font-weight: bolder;*/
}

#table-sellers-games a,
#table-sellers-games a:hover,
#table-sellers-games a:focus,
#table-last-adds a,
#table-last-adds a:hover,
#table-last-adds a:focus,
#table-sellers a,
#table-sellers a:hover,
#table-sellers a:focus,
#table-user-games a,
#table-user-games a:hover,
#table-user-games a:focus {
	text-decoration: none;
	color: inherit;
	outline: none;
	display: block;
}

#profile .infos-label {
	color: #2196f3;
}

.menu-toggle .navbar-toggle {
    float: none;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}

.menu-toggle .navbar-toggle .icon-bar {
	background-color: #ddd;
}

.menu-toggle .navbar-toggle .icon-bar {
	border-radius: 1px;
	display: block;
	height: 2px;
	width: 22px;
}

/**
	MEDIA QUERIES
**/
@media (max-width: 992px)
{
	.home-panel-center {
		background-color: #2196f3;
		color: #ffffff;
	}

	a,
	a:hover,
	a:focus {
		color: #ffffff;	
	}
	
	.home-panel-center input { color: #2196f3; }
	
	.form-control { background-color: white; }
	
	#home-center { margin-bottom: 4vh; }
	
	#home-right-top { margin-top: 2vh; }
	
	#search-menu { margin-bottom: 4vh; }

	#input-search-game { padding: 5px; }
}

@media (max-width: 768px)
{
	.game-infos-img { border-bottom: 1px solid #2196f3; }
	
	#table-sellers .username { width: 50%; }
	#table-sellers .price 	 { width: 30%; }
	#table-sellers .contact  { width: 20%; }
	
	#table-last-adds .name 	{ width: 47%; }
	#table-last-adds .price { width: 33%; }
	#table-last-adds .view 	{ width: 20%; }
	
	#table-sellers-games .name 		{ width: 50%; }
	#table-sellers-games .price 	{ width: 30%; }
	#table-sellers-games .contact 	{ width: 20%; }
	
	#table-user-games .name 		{ width: 65%; }
	#table-user-games .price 		{ width: 35%; }
}

@media (min-width: 768px)
{
	.game-infos-img {
		border-right: 1px solid #2196f3;
		min-height: 305px;
	}
	
	#table-sellers .username 	{ width: 34%; }
	#table-sellers .price 		{ width: 14%; }
	#table-sellers .photo 		{ width:  9%; }
	#table-sellers .state 		{ width: 19%; }
	#table-sellers .language 	{ width: 14%; }
	#table-sellers .contact 	{ width: 10%; }
	
	#table-last-adds .username 	{ width: 22%; }
	#table-last-adds .name 		{ width: 22%; }
	#table-last-adds .plateform { width: 17%; }
	#table-last-adds .date 		{ width: 12%; }
	#table-last-adds .price 	{ width: 10%; }
	#table-last-adds .state 	{ width: 10%; }
	#table-last-adds .view 		{ width:  7%; }
	
	#table-sellers-games .name 		{ width: 15%; }
	#table-sellers-games .price 	{ width: 10%; }
	#table-sellers-games .plateform { width: 15%; }
	#table-sellers-games .photo 	{ width: 10%; }
	#table-sellers-games .state 	{ width: 15%; }
	#table-sellers-games .zone 		{ width: 10%; }
	#table-sellers-games .language 	{ width: 15%; }
	#table-sellers-games .contact 	{ width: 10%; }
	
	#table-user-games .name 		{ width: 25%; }
	#table-user-games .price 		{ width: 15%; }
	#table-user-games .plateform 	{ width: 20%; }
	#table-user-games .photo 		{ width: 10%; }
	#table-user-games .state 		{ width: 15%; }
	#table-user-games .language 	{ width: 15%; }
}

@media (min-width: 992px)
{
	.home-center-div { min-height: 92vh; }
	.home-panel { min-height: 45vh; }
	
	#home-left-top {
		margin-right: 2vh;
		min-height: 35vh;
	}
	
	#home-top-left-panel { min-height: 35vh; }
	
	#home-left-bottom {
		margin-right: 2vh;
		min-height: 55vh;
	}
	
	#home-bottom-left-panel { min-height: 55vh; }
	
	#home-right-top {
		margin-left: 2vh;
		min-height: 61vh;
	}
	
	#home-top-right-panel { min-height: 61vh; }
	
	#home-right-bottom {
		margin-left: 2vh;
		min-height: 29vh;
	}
	
	#home-bottom-right-panel { min-height: 29vh; }
	
	#search-content { margin-left: 2vh; }
	
	#table-sellers .username 	{ width: 20%; }
	#table-sellers .price 		{ width:  9%; }
	#table-sellers .photo 		{ width:  8%; }
	#table-sellers .state 		{ width:  9%; }
	#table-sellers .blister 	{ width:  8%; }
	#table-sellers .notice 		{ width:  8%; }
	#table-sellers .package 	{ width:  8%; }
	#table-sellers .zone 		{ width:  9%; }
	#table-sellers .language 	{ width: 13%; }
	#table-sellers .contact 	{ width:  8%; }
	
	#table-last-adds .username 	{ width: 22%; }
	#table-last-adds .name 		{ width: 22%; }
	#table-last-adds .plateform { width: 12%; }
	#table-last-adds .date 		{ width: 10%; }
	#table-last-adds .price 	{ width: 10%; }
	#table-last-adds .state 	{ width:  9%; }
	#table-last-adds .language 	{ width: 10%; }
	#table-last-adds .view 		{ width:  5%; }
	
	#table-sellers-games .name 		{ width: 20%; }
	#table-sellers-games .price 	{ width: 10%; }
	#table-sellers-games .plateform { width: 15%; }
	#table-sellers-games .photo 	{ width: 10%; }
	#table-sellers-games .state 	{ width: 15%; }
	#table-sellers-games .zone 		{ width: 10%; }
	#table-sellers-games .language 	{ width: 10%; }
	#table-sellers-games .contact 	{ width: 10%; }
	
	#table-user-games .name 		{ width: 22%; }
	#table-user-games .price 		{ width: 12%; }
	#table-user-games .plateform 	{ width: 15%; }
	#table-user-games .photo 		{ width: 12%; }
	#table-user-games .state 		{ width: 15%; }
	#table-user-games .zone 		{ width: 12%; }
	#table-user-games .language 	{ width: 12%; }
}

@media (min-width: 1200px)
{
	#table-sellers .username 	{ width: 14%; }
	#table-sellers .price 		{ width:  7%; }
	#table-sellers .photo 		{ width:  5%; }
	#table-sellers .state 		{ width:  5%; }
	#table-sellers .blister 	{ width:  5%; }
	#table-sellers .notice 		{ width:  5%; }
	#table-sellers .package 	{ width:  5%; }
	#table-sellers .zone 		{ width:  8%; }
	#table-sellers .language 	{ width:  9%; }
	#table-sellers .other-name 	{ width: 12%; }
	#table-sellers .comment 	{ width: 20%; }
	#table-sellers .contact 	{ width:  5%; }
	
	#table-last-adds .username 	{ width: 15%; }
	#table-last-adds .name 		{ width: 15%; }
	#table-last-adds .plateform { width: 10%; }
	#table-last-adds .date 		{ width: 10%; }
	#table-last-adds .price 	{ width:  7%; }
	#table-last-adds .state 	{ width:  5%; }
	#table-last-adds .language 	{ width:  8%; }
	#table-last-adds .comment 	{ width: 25%; }
	#table-last-adds .view 		{ width:  5%; }
	
	#table-sellers-games .name 		{ width: 20%; }
	#table-sellers-games .price 	{ width: 10%; }
	#table-sellers-games .plateform { width: 10%; }
	#table-sellers-games .photo 	{ width:  5%; }
	#table-sellers-games .state 	{ width: 10%; }
	#table-sellers-games .zone 		{ width:  7%; }
	#table-sellers-games .language 	{ width:  8%; }
	#table-sellers-games .comment 	{ width: 25%; }
	#table-sellers-games .contact 	{ width:  5%; }
	
	#table-user-games .name 		{ width: 20%; }
	#table-user-games .price 		{ width:  8%; }
	#table-user-games .plateform 	{ width: 12%; }
	#table-user-games .photo 		{ width:  5%; }
	#table-user-games .state 		{ width:  8%; }
	#table-user-games .zone 		{ width:  7%; }
	#table-user-games .language 	{ width: 10%; }
	#table-user-games .comment 		{ width: 20%; }
	#table-user-games .update 		{ width:  5%; }
	#table-user-games .delete 		{ width:  5%; }
}

/**
	LIB OVERRIDE
**/
.btn { padding: 6px 16px !important; }
.container-fluid {
    margin: 0;
    padding: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
}
.navbar-toggle {
	color: #ffffff;
}
.row{
	margin: 0;
}
.table {
	table-layout: fixed;
	margin: 0;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #77bbf3;
    color: white;
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
.tablesorter-bootstrap > tbody > tr.odd > td, .tablesorter-bootstrap > tbody > tr.tablesorter-hasChildRow.odd:hover ~ tr.tablesorter-hasChildRow.odd ~ .tablesorter-childRow.odd > td {
    background-color: #77bbf3 !important;
    color: white;
}

.tablesorter-bootstrap th {
	text-align: center;
}

.tablesorter-filter.form-control {
    background-color: white;
    font-size: 13px;
    height: 25px;
    line-height: 1;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	line-height: 1;
}

.tablesorter thead .disabled {display: none}

#div_game_fields .thumbnail {
	max-width: 50px;
	margin-bottom: 0px;
	position: relative;
    vertical-align: middle;
    display: inline-block;
}

#div_contact_seller {
	color: #2196f3;
}

#footer {
    color: #2196f3;
    padding-top: 10px;
    text-align: center;
}

#footer a {
	cursor: pointer;
}

#legalsModal,
#contactModal,
#faqModal {
	color: #2196f3 !important;
}

#legalsModal h4,
#contactModal h4,
#faqModal h4 {
	color: #2196f3 !important;
}