{% trans_default_domain 'templatesTranslations' %}

<!-- Modal -->
<div class="modal fade" id="cguModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          &nbsp{{ 'cgu.title'|trans }}
        </h4>
      </div>
      <div class="modal-body align-left">
        {{ 'cgu.content'|trans|raw }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          {{ 'cgu.close'|trans }}
        </button>
      </div>
    </div>
  </div>
</div>