body{
}
.row{
	margin: 0;
}
.underline{
	text-decoration: underline;
}
.center{
	text-align: center;
}
.space-under{
    margin-bottom: 10px;
}
.right_align{
    text-align: right;
}
.left_align{
    text-align: left;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.small_10{
    font-size: 10px;
}
.margin-10{
    margin: 10px;
}
.revision_number
{
    font-size: 7px;
}
.display-none
{
    display: none;
}
legend small{
	font-size: 15px;
}
legend
{
    color: #c8c8c8;
}
div {
    table-layout: fixed;
    word-wrap: break-word;
}
thead{
	background-color: #bbbbbb;
}
.container{
    background-color: #fff;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
    max-width: 1290px;
}
.subContainer{
	background-color: #ccc;
}
@media (max-width: 768px){
	#name{
		float: initial !important;
	}
}
td.width_auto,
th.width_auto
{
    width: 1px; white-space: nowrap;
}
.upload_preview
{
    width:  75px;
    height: auto;
}
.full_parent_width
{
    width: 100%;
}
.block-content{
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
}
.panel-extent
{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
}
.container-main
{
    background-color: #CCC;
}

.selectpicker
{
    margin-top: 6px;
}


/*** ID ***/
#left_content
{
    padding-left: 0;
}

#center_content
{
    padding: 0;
}

#right_content
{
    padding-right: 0;
}

#name{
	text-align: center;
	margin-top: 10px;
	margin-right: -25px;
}
#secondNav{
	min-height: 40px;
	margin-left: -30px;
}