/**
 * HTML
 **/
/*body{
    padding-top: 60px;
}
legend
{
    color: #dd4814;
}
legend small{
	font-size: 15px;
}
div {
    table-layout: fixed;
    word-wrap: break-word;
}
th{
    text-align: center;
}
thead > tr > th {
    color:white;
    background-color: #dd4814;
}
tr, th, td{
    vertical-align: middle !important; 
}*/

/**
 * MIXED
 */
td.width_auto,
th.width_auto
{
    width: 1px; 
    white-space: nowrap;
}
tfoot > tr > th > div > .btn {
    
    background-color: #dd4814;
    color: #ffffff;
}
tfoot > tr > th > div > .btn:hover {
    
    background-color: #aea79f;
    color: #ffffff;
}
/**
 * PROPERTIES
 **/
.row{
	margin: 0;
}
.underline{
	text-decoration: underline;
}
.center{
	text-align: center;
}
.space-under-10{
    margin-bottom: 10px;
}
.space-under-20{
    margin-bottom: 20px;
}
.space-under-30{
    margin-bottom: 30px;
}
.center-align{
    text-align: center;
}
.right-align{
    text-align: right;
}
.left-align{
    text-align: left;
}
.white-color {
    color: white !important;
}
.orange-color {
    color: #dd4814 !important;
}
.white-background {
    background-color: white !important;
}
.grey-background {
    background-color: #aea79f !important;
}
.left-align-important {
    text-align: left !important;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.small-10{
    font-size: 10px;
}
.margin-10{
    margin: 10px;
}

.font-weigth-900
{
    font-weight: 900;    
}
.display-none
{
    display: none;
}
.full-parent-width
{
    width: 100%;
}

/**
 * ELEMENTS
 */
.btn-log{
    margin-right: 20px;
}
.close {
    color: #dd4814;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 1;
}
.modal-header {
    min-height: 50px;
}
.modal-footer {
    margin-top: 0px;
}
.modal-title {
    color: #dd4814;
}
.control-label {
    color: #dd4814;
}
.btn-default-login
{
    background-color: #dd4814;
    border-color: #dd4814;
}
.selectpicker
{
    margin-top: 6px;
}
.table-game-line
{
    cursor:pointer;
}
.tablesorter-filter-row
{
    text-align: center;
}
.tablesorter-filter-row > td
{
    background-color: #dd4814;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #dd4814;
}
.card-data-field
{
    text-align: left;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}
.card-data-value
{
    margin-bottom: 20px;
    text-align: left;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}
.card-img
{
    height: 180px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.slick-prev:before, .slick-next:before {
    color: #dd4814 !important;
}
.img-bottom
{
    bottom: 4vh;
    left: 1%;
    position: absolute;
    z-index: 0;
}

/**
 * ID
 */
#name-loader,
#series-loader,
#type-loader,
#plateform-loader,
#editor1-loader,
#editor2-loader,
#editor3-loader,
#year-loader{
	display: block;
	margin: auto;
}
#card-loader
{
    text-align: center;
}
#card-data
{
    display: none;
}
#home-img {
    max-width: 20vw;
}
#page-home {
    /*background-color: #dd4814;*/
    /*height: auto;*/
    /*min-height: 100vh;*/
    /*margin-top: -60px;*/
    /*padding-top: 60px;*/
}
#page-home-logo {
    background-color: #ffffff;
    color: #dd4814;
    font-size: 7vw;
    height: 11vw;
    text-align: center;
    vertical-align: middle;
}
#page-home-logo p {
    vertical-align: middle;
}
#page-catalog {
    background-color: #aea79f;
    padding-top: 60px;
    height: auto;
    min-height: 100vh;
}
#page-catalog h1 {
    color: #dd4814;
}
#page-catalog tfoot {
    background-color: #aea79f;
}
#page-best-sells {
    background-color: #dd4814;
    height: auto;
    padding-top: 60px;
    min-height: 100vh;
}
#page-best-sells h1 {
    color: #aea79f;
}
#page-last-adds {
    background-color: #aea79f;
    height: auto;
    padding-top: 60px;
    min-height: 100vh;
}
#page-last-adds h1 {
    color: #dd4814;
}
#page-legals {
    background-color: #dd4814;
    height: auto;
    padding-top: 60px;
    min-height: 100vh;
}
#page-legals h1 {
    color: #aea79f;
}
#page-register {
    background-color: #aea79f;
    height: auto;
    min-height: 100vh;
    margin-top: -60px;
    padding-top: 60px;
    color: white;
}
#page-register h1 {
    color: #dd4814;
}
#page-request-password {
    background-color: #aea79f;
    height: auto;
    min-height: 100vh;
    margin-top: -60px;
    padding-top: 60px;
    color: white;
}
#page-request-password h1 {
    color: #dd4814;
}
#page-register-confirmed {
    background-color: #aea79f;
    height: auto;
    min-height: 100vh;
    margin-top: -60px;
    padding-top: 60px;
    color: white;
}
#page-register-confirmed h1 {
    color: #dd4814;
}
#page-info {
    background-color: #dd4814;
    height: auto;
    min-height: 100vh;
    margin-top: -60px;
    padding-top: 60px;
}
#page-info h1 {
    color: #aea79f;
}
#page-change-password {
    background-color: #aea79f;
    height: auto;
    min-height: 100vh;
    margin-top: -60px;
    padding-top: 60px;
    color: white;
}
#page-change-password h1 {
    color: #dd4814;
}
#page-add-game {
    background-color: #aea79f;
    height: auto;
    min-height: 100vh;
    margin-top: -60px;
    padding-top: 60px;
    color: white;
}
#page-add-game h1 {
    color: #dd4814;
}
/*
.container{
    background-color: #fff;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
    max-width: 1290px;
}
.subContainer{
	background-color: #ccc;
}
.upload_preview
{
    width:  75px;
    height: auto;
}
.block-content{
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
}
.panel-extent
{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
}
.container-main
{
    background-color: #CCC;
}




.last-adds-div
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}*/

/**
 * ID
 */
/*#left_content
{
    padding-left: 0;
}

#center_content
{
    padding: 0;
}

#right_content
{
    padding-right: 0;
}
@media (max-width: 768px){
	#name{
		float: initial !important;
	}
}
#name{
	text-align: center;
	margin-top: 10px;
	margin-right: -25px;
}
#secondNav{
	min-height: 40px;
	margin-left: -30px;
}
*/


/**
 * LIB OVERRIDE
 */

.tablesorter-bootstrap .tablesorter-header i {
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 11px;
    height: 14px;
    line-height: 14px;
    margin-top: -7px;
    position: absolute;
    right: 2px;
    top: 50%;
    width: 14px;
}
.tablesorter-bootstrap .bootstrap-icon-unsorted {
    background-image: url("http://projets-c9-quenting.c9.io/rompy/web/bundles/frontendfrontoffice/img/double-arrow.png");
}
.glyphicon-chevron-up:before {
    background-image: url("http://projets-c9-quenting.c9.io/rompy/web/bundles/frontendfrontoffice/img/up.png");
    background-repeat: no-repeat;
    content: '\0000a0\0000a0\0000a0\0000a0';
}
.glyphicon-chevron-down:before {
    background-image: url("http://projets-c9-quenting.c9.io/rompy/web/bundles/frontendfrontoffice/img/down.png");
    background-repeat: no-repeat;
    content: '\0000a0\0000a0\0000a0\0000a0';
}