/** 
	HTML 
**/
body {
	background-color: white;
	margin: 4vh;
	padding-top: 0;
}
legend {
	background-color: #2196f3;
    border-color: #2196f3;
}
legend h3 {
    color: #ffffff !important;
}
ul {
	padding-left: 10px;	
}

/** 
	CLASS 
**/
.page {
	min-height: 92vh;
}
.home-block {
		
}
.home-block.navbar-collapse {
	padding: 0;
}
.home-block.navbar-collapse.in,
.home-block.navbar-collapse.collapsing{
	overflow-y: unset;
}
.home-side-div {
}
.home-center-div {
}
.home-panel {
	margin-bottom: 0px;
}

.home-panel-center {
	margin-bottom: 0px;
	min-height: 92vh;
	background-color: #ffffff;
	color: #2196f3;
}
.home-last-adds-photo {
	width: 20px;
	vertical-align: middle !important;
}
.home-last-adds-name {
    width: calc(100% - 126px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-last-adds-plateform {
    width: 110px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

/** ID **/
#home-left-top {
	margin-bottom: 2vh;
}
#home-profile-avatar {
	max-width: 70px;
}
#home-profile-infos {
	font-size: 17px;
	font-weight: bold;
	padding-left: 10px;
	max-width: calc(100% - 70px);
	line-height: 1;
}

#home-left-bottom {

}

#home-center {
}

#page-home-logo {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

#home-search-form {
	margin-top: 10vh;	
}

#search-game-addon .glyphicon {
	font-size: 20px;
}

#input-search-game {
	width: calc(100% - 25px);
	font-size: 20px;
}

#home-right-top {
	margin-bottom: 2vh;
}

#home-right-bottom {
}

#home-last-adds-list li {
	line-height: 2;
	clear: both;
}

.menu-toggle {
}

.menu-toggle .navbar-toggle {
    float: none;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
.menu-toggle .navbar-toggle .icon-bar {
	background-color: #ddd;
}

.menu-toggle .navbar-toggle .icon-bar {
	border-radius: 1px;
	display: block;
	height: 2px;
	width: 22px;
}

/**
	MEDIA QUERIES
**/
@media (max-width: 992px)
{
	.home-panel-center {
		background-color: #2196f3;
		color: #ffffff;
	}
	
	.home-panel-center input {
		color: #2196f3;
	}
	
	.form-control {
		background-color: white;
	}
	
	#home-center {
		margin-bottom: 4vh;
	}
	
	#home-right-top {
		margin-top: 2vh;
	}
}

@media (min-width: 992px)
{
	.home-side-div {
		min-height: 45vh;
	}
	.home-center-div {
		min-height: 92vh;
	}
	.home-panel {
		min-height: 45vh;
	}
	
	#home-left-top {
		margin-right: 2vh;
	}
	
	#home-left-bottom {
		margin-right: 2vh;
	}
	
	#home-right-top {
		margin-left: 2vh;
	}
	
	#home-right-bottom {
		margin-left: 2vh;
	}
}

/**
	LIB OVERRIDE
**/
.btn {
	padding: 6px 16px !important;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
}
.row{
	margin: 0;
}
.table {
	table-layout: fixed;
	margin: 0;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #77bbf3;
    color: white;
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}