/** BACKGROUND **/
.bgd-white {
	background-color: white;
}


/** MARGIN **/
.margin-top-50 {
	margin-top: 50px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-right-5 {
	margin-right: 5px;
}
.margin-auto {
	margin: auto;
}


/** PADDING **/
.padding-20 {
	padding: 20px;
}
.padding-right-5 {
	padding-right: 5px;
}


/** TEXT **/
.weight-bolder {
	font-weight: bolder;
}
.small-10 {
	font-size: 10px;
}


/** TEXT ALIGN **/
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}


/** WIDTH **/
.width-parent {
	width: 100%;
}




/**********
	DEV 
**********/
.dev-border {
	border: 1px dashed red;
}